pkgbase = warp-terminal-oss
	pkgdesc = Warp, the Rust-based terminal for developers and teams (OSS build)
	pkgver = r1.0
	pkgrel = 1
	url = https://github.com/warpdotdev/warp
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-only
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = curl
	depends = default-cursors
	depends = fontconfig
	depends = libegl
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon-x11
	depends = opengl-driver
	depends = xdg-utils
	depends = zlib
	optdepends = adwaita-cursors: for if there is no default cursor installed
	optdepends = zenity: for file dialogs in Gnome
	optdepends = kdialog: for file dialogs in KDE
	optdepends = org.freedesktop.secrets: for securely storing passwords
	options = !strip
	source = git+https://github.com/warpdotdev/warp.git
	sha256sums = SKIP

pkgname = warp-terminal-oss
